
@{
    ViewBag.Title = "Index";
}
<center>
    <br />
    <br />
    <br />
    <h2>Filtro de contenidos</h2>
    <br />
    <a href="\Filtro/Noticias">Noticias</a>
    <br />
    <br />
    <a href="\Filtro/Musica">Musica</a>
    <br />
    <br />
    <a href="\Filtro/Peliculas">Peliculas</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>