
@{
    ViewBag.Title = "Musica";
}

<center>
    <br />
    <br />
    <h2>Portales de musica</h2>
    <a href="https://www.spotify.com/do/" target="_blank">Spotify</a>
    <br />
    <br />
    <a href="https://www.deezer.com/es/artist/6657770" target="_blank">Deezer</a>
    <br />
    <br />
    <a href="https://tunein.com/?lang=es" target="_blank">TuneIn</a>
    <br />
    <br />
    <a href="https://m.soundcloud.com" target="_blank">SoundCloud</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>