
@{
    ViewBag.Title = "Noticias";
}
<center>
    <br />
    <br />
    <h3>Locales</h3>
    <a href="https://listindiario.com/" target="_blank">Listín Diario</a>
    <br />
    <br />
    <a href="https://www.diariolibre.com/" target="_blank">Diario Libre</a>
    <br />
    <br />
    <a href="https://elnacional.com.do/" target="_blank">El Nacional</a>
    <br />
    <br />
    <a href="https://www.elcaribe.com.do/" target="_blank">El Caribe</a>
    <br />
    <br />
    <a href="https://noticiassin.com/" target="_blank">Noticias SIN</a>
    <br />
    <h3>Internacionales</h3>
    <a href="https://www.bbc.com/mundo/internacional" target="_blank">BBC Noticias</a>
    <br />
    <br />
    <a href="https://www.elmundo.es/internacional.html" target="_blank">El Mundo</a>
    <br />
    <br />
    <a href="https://www.rtve.es/noticias/s/internacional" target="_blank">RTVE Noticias</a>
    <br />
    <br />
    <a href="https://elpais.com/tag/c/15148420ba519668342b7a63149cad97" target="_blank">El País</a>
    <br />
    <br />
    <a href="https://www.abc.es/internacional/" target="_blank">ABC Noticias</a>
</center>

