
@{
    ViewBag.Title = "Peliculas";
}

<center>
    <br />
    <br />
    <h3>Acción y aventuras</h3>
    <h4>*Capitana Marvel</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MJIz2gf3Wa8"></iframe>
    <br />
    <h4>*Avengers: Endgame</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0jNvJU52LvU"></iframe>
    <br />
    <h4>*John Wick 3: Parabellum</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pU8-7BX9uxs"></iframe>
    <br />
    <h4>*Rambo: la última misión</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4vWg5yJuWfs"></iframe>
    <br />
    <h4>*X-men: Dark Phoenix</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Nly3-14vLh0"></iframe>
    <h3>Dramas</h3>
    <h4>*Parásitos</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z7SiFLgoFQM"></iframe>
    <br />
    <h4>*Mujercitas</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BKuDz3pxi7I"></iframe>
    <br />
    <h4>*Dolor y gloria</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4GMO3BgUIOk"></iframe>
    <br />
    <h4>*Historia de un matrimonio</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PBzL8rB5zDo"></iframe>
    <br />
    <h4>*1917</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SBc69RKIqwg"></iframe>
    <h3>Infantiles</h3>
    <h4>*La LEGO película 2</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WPiQJyTwOPY"></iframe>
    <br />
    <h4>*Cómo entrenar a tu dragón 3</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DWXJdezkThk"></iframe>
    <br />
    <h4>*Bikes</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zWTNm_XBzY0"></iframe>
    <br />
    <h4>*Dumbo</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wVpR21M6lqs"></iframe>
    <br />
    <h4>*Toy Story 4</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/f33yJZ5uOpU"></iframe>
    <h3>Documentales</h3>
    <h4>*The Great Hack</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iX8GxLP1FHo"></iframe>
    <br />
    <h4>*American Factory</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vo97tCUmI9c"></iframe>
    <br />
    <h4>*Fyre</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WeuepDq1kBQ"></iframe>
    <br />
    <h4>*Al filo de la democracia</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b51-YY59fkM"></iframe>
    <br />
    <h4>*Dime quién soy</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wZDFXeRwsD0"></iframe>
</center>