@{
    ViewBag.Title = "Index";
}


<center>
    <h3>Yatzary Santana</h3>
    <h3>2018-6354</h3>
    <br />
    <img src="~/Content/Foto/foto.jpeg" alt="Mi foto" width="180px" height="200px" />
    <br />
    <p>Actualmente estoy cursando mi quinto cuatrimestre en el ITLA, contacto: 809-854-4855</p>
    <p>Módulos: Lector de archivos xls, Filtro de contenidos, Acerca de...</p>
    <h3>Carmen Sanchez</h3>
    <h3>2018-5862</h3>
    <br />
    <img src="~/Content/Foto/carmen.jpeg" alt="Foto Carmen" width="200px"/>
    <br />
    <p>Actualmente también estoy cursando mi quinto cuatrimestre en el ITLA, contacto: 829-872-0728</p>
    <p>Módulos: Vinculación con facebook, Formulario solicitud de empleo, Conversor de unidades...</p>
</center>

