
@{
    ViewBag.Title = "Conversores";
}

    <h2>Conversores de:</h2>

<a href="Longitud" class="btn btn-warning">Longitudes</a>
<a href="Temperatura" class="btn btn-warning">Temperatura</a>
<a href="Masa" class="btn btn-warning">Masa</a>
<a href="Datos" class="btn btn-warning">Datos</a>